* {
    margin: 0;
    padding: 0;
}
.vof__form-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.vof__form-input {
    min-width: 10%;
    background: transparent;
    border: none;
}
.vof__form-input:focus {
    outline: none !important;
}

.vof__form-domain {
    margin-top: 5px;
    transition: all .3;
}
.vof__form-domain a{
    color: #01879d;
    font-weight: bold;
}
span.vof-form__inputwrap {
    display: flex;
    align-items: center;
    max-width: 98%;
    border-bottom: solid thin #01879d;
}
span.vof__form-btn--span {
    border: solid thin #01879d;
    font-style: italic;
    border-radius: 3px;
    margin-left: 1rem;
    padding: 3px 5px;
    transition: all .3s;
    background: #01879d;
    cursor:pointer;
}
span.vof__form-btn--span.notactive {
    border: solid thin rgb(128 128 128 / 35%);
    background:transparent;
    cursor: not-allowed;
}
span.vof__form-btn--span.notactive:hover span.vof__form-btn--text{
    color: gray;
}
span.vof__form-btn--span:hover {
    background: transparent;
}

span.vof__form-btn--text {
    padding: 0 5px;
    color:#fff;
}
span.vof__form-btn--span:hover span.vof__form-btn--text{
    color: #01879d;
}
span.vof__form-btn--text.notactive {
    opacity: .4;
    cursor: not-allowed !important;
    color: gray;

}
span.vof__form-btn--text.active {
    opacity: 1;
    cursor: pointer !important;
}

span.error-span {
    display: inline-block;
    color: red;
    padding: 7px 12px;
    border: solid thin red;
    border-radius: 2px;
    margin: .25rem auto;
}
