* {
    margin: 0;
    padding: 0;
}
.vof__form-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 5px;
    border: solid thin #01879d;
    border-radius: 2px;
}
.vof__form-input {
    min-width: 10%;
    background: transparent;
    border: none;
    border-bottom: solid thin gray !important;
}
.vof__form-input:focus {
    outline: none !important;
}
.vof__form-img img{
    display: inline-flex;
    width: 35px;
    transition: all .3s;
}
.vof__form-domain {
    margin-top: 5px;
    font-size: 16px;
    text-align: center;

}
.vof__form-domain a{
    color: #01879d;
    font-weight: bold;
}
span.vof__form-btn--span {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
span.vof__form-img.sending {
    display: none;
}
span.vof__form-img.notactive {
    opacity: .4;
    cursor: not-allowed !important;
}
span.vof__form-input--text {
    padding: 0 5px;
}
span.vof__form-input--text.notactive {
    opacity: .4;
    cursor: not-allowed !important;
}
span.vof__form-input--text.active {
    opacity: 1;
    cursor: pointer !important;
}

span.vof__form-img.active {
    opacity: 1;
    cursor: pointer !important;
}
span.vof__form-img.active img:hover {
    transform: scale(1.05);
}
span.vof__form-img.active img:active {
    transform: scale(.95);
}

span.error-span {
    display: inline-block;
    color: red;
    padding: 7px 12px;
    border: solid thin red;
    border-radius: 2px;
    margin: .25rem auto;
}